@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    display: grid;
    place-items: center;
    background: #c0d6fa;
    font-family: 'Nunito', sans-serif;
    color: #ff845d;
}
.container{
    width: 70%;
    height: 100%;
    padding: 15px;
    background: #FFFF;
    border-radius: 20px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}
.title__section{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.title__section img{
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
}
.title__section p{
    font-weight: 600;
    letter-spacing: 1px;
    color: #B6B6B6;
}
.text__section{
    height: 70%;
    position: relative;
}
#editor{
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #B6B6B6;
    overflow-y: auto;
}
.text__controls{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text__controls button{
    width: 20px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #000;
    cursor: pointer;
    transition: 0.25s;
}